<% if current_user.id == "#{params[:user_id]}" %>

  <%= @user.email %>

  Your Reservations: 
  <% @user.reservations.each do |r| %>
    <div>
    Restaurant name: <%= r.restaurant.name %><br>
    Time: <%= r.time_slot %><br>
    Guests: <%= r.guests %><br>
    </div>
  <% end %>

<% end %>