  <div class="resto">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
      <%= restaurant.address %>
      <%= restaurant.neighbourhood %>
    <% end %>
  </div>
